<div class="container-dashboard">
  <h3>Ajouter une personne</h3>
  <div class="row">
    <div class="col-6-xs col-6-offset-3 col-4 col-4-offset-4">
      <%= render 'form' %>
    </div>
  </div>
</div>

