<div class="sidebar-info">
  <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
  <p>fred@michel.com</p>
</div>
<div class="sidebar-links">
  <ul>
    <li><a href="/"><i class="fas fa-chart-pie"></i> Dashboard</a></li>
    <li><a href="/commitments"><i class="fas fa-list"></i> Commitments</a></li>
    <li><a href="/suppliers"><i class="fas fa-address-book"></i> Suppliers</a></li>
    <li><a href=""><i class="fas fa-users"></i> Teams</a></li>
    <li><a href=""><i class="fas fa-cog"></i> Settings</a></li>
  </ul>
</div>

