<div class="sidebar-info">
  <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
  <p class="sidebar-info-mail">fred@michel.com</p>
</div>
<div class="sidebar-links">
  <ul>
    <%= link_to root_path do %>
      <li><i class="fas fa-chart-pie"></i> Dashboard</li>
    <% end %>
    <%= link_to commitments_path do %>
      <li><i class="fas fa-list"></i> Commitments</li>
    <% end %>
    <%= link_to suppliers_path do %>
      <li><i class="fas fa-address-book"></i> Suppliers</li>
    <% end %>
    <li><a href=""><i class="fas fa-users"></i> Teams</a></li>
    <li><a href=""><i class="fas fa-cog"></i> Settings</a></li>
  </ul>
</div>

