<div class="container-commmitments">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-12">
      <h2>Commitments Status</h2>
      <canvas id="commitments-statuses" width="500" height="200" data-statuses="<%= @statuses.to_json %>"></canvas>
      <canvas id="total-amount" width="500" height="200" data-paid="<%= @paid_commitment_amount.to_json %>" data-invoice="<%= @pending_invoice_amount.to_json %>" data-payment="<%= @pending_payment_amount.to_json %>"></canvas>
    </div>
  </div>
</div>

