.button-commitment {
  text-decoration: none;
}

.btn-primary-bubo {
  background-color: $secondary;
  color: white;
  padding: 10px 13px;
  font-weight: bold;
  text-decoration:none;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color:white;
    opacity: 0.8;
  }
}

.btn-primary-bubo-commitment {
  background-color: $secondary;
  color: white;
  padding: 10px 13px;
  font-weight: bold;
  border-radius: 20px;
  text-decoration:none;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color:white;
    opacity: 0.8;
  }
}
