.button-commitment {
  text-decoration: none;
}

.btn-primary-bubo-home {
  background-color: $secondary;
  color: white;
  padding: 13px 25px;
  font-weight: bold;
  text-decoration:none;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color:white;
    opacity: 0.8;
  }
}

.btn-primary-bubo {
  background-color: $secondary;
  color: white;
  padding: 10px 13px;
  font-weight: bold;
  text-decoration:none;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color:white;
    opacity: 0.8;
  }
}

.btn-primary-bubo-commitment {
  background-color: $secondary;
  color: white;
  padding: 10px 13px;
  font-weight: bold;
  text-decoration:none;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color:white;
    opacity: 0.8;
  }
}

.btn-primary-bubo-filter {
  background-color: $secondary;
  border-color: #40BEC2;
  color: white;
  padding: 4px 30px;
  font-weight: bold;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color:white;
    opacity: 0.8;
  }
}

#btn-edit-show-commitment {
  color: #0F334E;
  padding-top: 5px;
  padding-left: 50px;
  margin-top: 9px;
}

#btn-back-to-index {
  color: #0F334E;
  padding-top: 5px;
  margin-top: 9px;
}
