.card-supplier {
  background-color: #0F334E;
  color: white;
  text-align: center;
}

.card-supplier h2{
  font-size: 20px;
}

.row a:hover{
  text-decoration: none;
}

.card-stat {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(15, 51, 78, 0.2);
  width: 250px;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  h3 {
    font-weight: bold;
  }
  #analytics-dashboard {
    p{
      padding-top: 10px;
    }
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card-team {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(15, 51, 78, 0.2);
  height: 200px;
  width: 250px;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  h3 {
    font-weight: bold;
    font-size: 18px;
  }
  #analytics-dashboard {
    p{
      padding-top: 10px;
    }
  }
}


.cards-commitment{
  display: flex;
  margin-bottom: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  .item{
    width: 400px;
    height: 200px;
  }
}

