.container-table {
  margin: 20px 0px;
  font-size: 15px;
  border-bottom: 1px solid #9e9a9a;
  td {
    padding: 5px 15px 5px 0;
  }
  ul {
    padding: 0px;
  }
}
.container-create{
  background-color: white;
}

.commitment_container{
  margin: 70px;
}

.container-show-commitment{
  margin-top: 35px;
  padding: 30px 30px;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
}

.container-create-commitment{
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 10px 30px;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
}

.container-commmitments {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 32px auto;
  padding: 20px;
  border-radius: 2px;
}

.supplier-container {
  width: 100% !important;
}

.container-dashboard {
  max-width: 95%;
  margin: 16px auto;
  padding: 20px;
  h2 {
    margin-bottom: 24px;
  }
}


.container-suppliers {
  max-width: 75%;
  margin: 32px auto;
  padding: 20px;
  border-radius: 2px;
}

.container-closing {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 32px auto;
  border-radius: 2px;
}

.container-pre-closing, .container-closing-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 32px auto;
  border-radius: 2px;
  padding: 5px 5px;
}

.container-btn-closing {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 32px auto;
  border-radius: 2px;
  padding: 5px 5px;
}

.container-table-wrap {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
