.container-table {
  margin: 20px 0px;
  font-size: 15px;
  border-bottom: 1px solid black;
  td {
    padding: 5px 15px 5px 0;
  }
  ul {
    padding: 0px;
  }
}

.commitment_container{
  margin: 70px;
}

.container-commmitments {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 32px auto;
  padding: 20px;
  border-radius: 2px;
}

.supplier-container {
  width: 100% !important;
}

.container-dashboard {
  max-width: 95%;
  margin: 16px auto;
  padding: 20px;
  h2 {
    margin-bottom: 24px;
  }
}


.container-suppliers {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 75%;
  margin: 32px auto;
  padding: 20px;
  border-radius: 2px;
}

.container-closing {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 32px auto;
  border-radius: 2px;
  justify-content: space-around;
}

.container-pre-closing {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 32px auto;
  border-radius: 2px;
  padding: 5px 5px;
}

.container-btn-closing {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 32px auto;
  border-radius: 2px;
  padding: 5px 5px;
}
