.container-closing {
  display: flex;
}

.container-table {
  margin: 50px;
  font-size: 13px;
}

.commitment_container{
  margin: 70px;
}

.container-commmitments {
  background-color: white;
  box-shadow: 1px 1px 3xp rgba(200, 200, 200, 0.4);
  max-width: 95%;
  margin: 16px auto;
  padding: 20px;

}

.supplier-container {
  width: 100% !important;
}

.container-dashboard {
  max-width: 95%;
  margin: 16px auto;
  padding: 20px;
  h2 {
    margin-bottom: 24px;
  }
}
