#commitments-statuses, #total-amount, #monthly-amount {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(15, 51, 78, 0.2);
}

.charts-wrapper {
  display: flex;
  justify-content: space-between;
}

.dashboard-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.doughnut-chart {
  position:relative;
}

.chart-legend {
  position:absolute;
  top: 40%;
  left: 144px;
  text-align: center;
}

.chart-stat {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.82)
}

.chart-tagline {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.82)
}

.bottom-hide {
  background-color: white;
  height: 3px;
  width: 450px;
  position: absolute;
  top: 78%;
}

.welcome {
  h4 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.82)
  }
}

