.filter-commitment {
  display: flex;
  // justify-content: ;
  font-size: 14px;
  align-items: center;
}

.form-group.select.optional {
  margin-right: 10px;
  min-width: 140px;
}

.select2-results {
  li {
    font-size: 14px;
  }
}

.btn-primary-bubo-filter {
    border-color: #40BEC2;
}

