.sidebar {
  width: 17%;
  background: $primary;
  color: #fff;

  padding-top: 20px;
  a {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    &:hover {
      text-decoration:none;
      opacity: 0.7;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 10px 20px;
    &:hover {
      opacity: 0.7;
    }
  }

  i {
    padding-right: 10px;
  }
  p {
    font-weight: lighter;
  }
}

.sidebar-info {
  padding-top: 35px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

.sidebar-info-mail{
  padding-top: 15px;
}

.sidebar-links {
  padding-top: 35px;
  }
  li {
    padding: 10px 35px;
    list-style: none;
    a {
      color: white;
      font-size: 18px;
      font-weight: normal;
      text-decoration:none;
    }
    :hover {
      opacity: 0.7;
      text-decoration:none;
  }
  i {
    margin-right: 13px;
  }
}
