.sidebar {
  width: 17%;
  background: $primary;
  color: #fff;
  p {
    font-weight: bold;
  }
}

.sidebar-info {
  padding-top: 35px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

.sidebar-info-mail{
  padding-top: 15px;
}

.sidebar-links {
  padding-top: 35px;
  }
  li {
    padding: 10px 35px;
    list-style: none;
    a {
      color: white;
      font-size: 18px;
      font-weight: normal;
      text-decoration:none;
    }
    :hover {
      opacity: 0.7;
      text-decoration:none;
  }
  i {
    margin-right: 13px;
  }
}
