.sidebar {
  width: 24%;
  background: #163c5b;
  opacity: 1;
  color: #fff;
  transition: all 0.3s ease;
  p {
    margin: 0;
  }
  a {
    text-decoration:none;
    color: white;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    opacity: 0.7;
    list-style:none;
    margin-bottom: 0px;
    &:hover {
      opacity: 1;
    }
  }
  i {
    font-size: 25px;
  }
  .active {
    opacity: 1;
    background: $primary;
  }
  .sidebar-info-mail{
    padding-top: 15px;
    display:block;
  }
  .side-element {
    display: inline-block;
  }
}

// .sidebar.active-side {
//   width: 24%;
//   .side-element {
//     display: inline-block;
//   }
//   .sidebar-info-mail {
//     display:block;
//   }
//   li {
//     margin-bottom:0;
//   }
//   p {
//     margin: 0;
//   }
//   .sidebar-info {
//     padding-top: 35px;
//   }
// }

.sidebar-info {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
  background:$primary;
}

.sidebar-links {
  padding-top: 35px;
  i {
    padding-right: 15px;
    padding-left: 15px;
  }
  li {
    padding: 17px 17px;
    list-style: none;
  }
}

.side-btn {
  display: inline-block;
}

.title-btn {
  display: flex;
  align-items:center;
}

.company-name {
  margin-top: 0;
  margin-bottom: 0;
}

.bars-item {
  padding-right: 30px;
  font-size: 25px;
  color: $primary;
  .fas {
    color: $primary;
  }
}
