// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


.wrapper {
  display: flex;
  align-items: stretch;
  max-width: 100vw;
}

.content {
  min-height: 100vh;
  width: 83%;
}

.dropdown-active {
  display: block !important;
}

.dropdown-inactive {
  display: none !important;
}

h1 h2 h3 {
  font-color: $primary;
}

body {
  background-color: #F4F7FC;
}
