<div class="container">
  <div class="container-form">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Edit Supplier</h2>
        <%= simple_form_for(@supplier) do |f| %>

          <% if @supplier.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @supplier.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :name %>
          <%= f.submit "Update", class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
